body{
    color: #1d1d1b;
    font-family: "ITC Johnston W01",sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}
#top_bar{
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding:20px;
}
#top_bar nav{float:right;}
#top_bar nav ul li{display: inline-block;text-transform: uppercase;margin-left: 2rem;}
#top_bar nav ul li a{color:#fff;font-size: 0.7rem;font-weight: bold;}
.water {
    background-color: #e1eedc;
    background-image: url("img/water-image-replacement.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.overlay .title-holder {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.title-holder img {
    height: auto;
    max-width: 400px;
    width: 80%;
}

.overlay .godown-holder {
    bottom: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}

.godown {
    display: block;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.overlay-fadeout {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.water video {
    background-size: cover;
    bottom: 0;
    display: block;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    width: auto;
}

body.homepage section.homepage {
    background-color: #e1eedc;
}
body.homepage .is-1 {
    background-color: #e1eedc;
    background-image: url("../img/homepage-wide-1.jpg");
}
body.homepage .is-1 .title-holder .inner svg {
    height: auto;
    max-width: 834px;
    width: 80%;
}
.image-section .title-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.image-section .title-holder .inner {
    margin: 0 auto;
    text-align: center;
}
.image-section {
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 880px;
    position: relative;
    width: 100%;
}
