body{
    color: #1d1d1b;
    font-family: "ITC Johnston W01",sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

body.building .hero {
    background-image: url("../img/building-head.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.2em;
}
h5{
    font-size: 1em;
    font-weight: bold;
}

#top_bar{
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding:15px;
    max-height: 60px;
}

body.homepage .caption .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content-section .lockup-align-center .caption {
    position: relative;
}
#top_bar .menu-big nav{float:right;}
#top_bar nav ul li{display: inline-block;text-transform: uppercase;margin-right: 2em;}
#top_bar nav ul li a{color:#fff;font-size: 0.8em;font-weight: bold;}

.water {
    background-color: #e1eedc;
    background-image: url("img/water-image-replacement.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero .overlay .title-holder svg {
    height: auto;
    max-width: 676px;
    position: relative;
    width: 80%;
}


.overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.overlay .title-holder {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.title-holder img {
    height: auto;
    max-width: 400px;
    width: 80%;
}

.overlay .godown-holder {
    bottom: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}

.godown {
    display: block;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.overlay-fadeout {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.water video {
    background-size: cover;
    bottom: 0;
    display: block;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    width: auto;
}

#backtop-footer {
    color: black;
}

.pre-footer {
    background-color: #e1eef9;
    border-bottom: 1px solid #1d1d1b;
}
body.building .pre-footer{
    border-top: 1px solid #1d1d1b;
}

.logo-prefooter {
    border-right: 1px solid #1d1d1b;
}

.btn-section {
    border-left: 1px solid #1d1d1b;
    margin-right: 0 !important;
    padding-bottom: 1em;
}

.backtop-section {
    height: 15em;
    width: 100%;
}

.backtop-section .row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a.backtop {
    display: block;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

a.backtop img {
    height: 35px;
    width: 35px;
}

a.backtop span {
    display: block;
    margin-top: 1.4em;
    text-transform: uppercase;
}


.under-footer {
    background-color: #e1eef9;
    font-size: 0.7em;
    letter-spacing: 0.08em;
    min-height: 60px;
    padding: 3em 0;
    text-transform: uppercase;
}

.under-footer .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1322px;
    padding: 0 22px;
}

.under-footer .copyright {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.copyright a {
    color: black;
}

.underfooter-logo img {
    height: auto;
    max-width: 125px;
    width: 100%;
    float: right;
}

.underfooter-logo {
    margin-right: 0 !important;
}



.content-section .caption-main {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
    text-transform: uppercase;
}
body.building .content-section .caption-main {
    text-align: center;
}
body.homepage section.homepage {
    background-color: #e1eedc;
}
body.homepage .is-1 {
    background-color: #e1eedc;
    background-image: url("../img/homepage-wide-1.jpg");
}
body.homepage .is-1 .title-holder .inner svg {
    height: auto;
    max-width: 834px;
    width: 80%;
}
.image-section .title-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.image-section .title-holder .inner {
    margin: 0 auto;
    text-align: center;
}
.image-section {
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 880px;
    position: relative;
    width: 100%;
}

.pink-button {
    background-color: transparent;
    border: 2px solid #1d1d1b;
    color: #1d1d1b;
    transition: all 0.3s ease 0s;
}

.pink-button:hover {
    color: #FBD8C6;
    background-color: black;
    text-decoration: underline;
}

.green-button:hover {
    color: #E1EEDC;
    background-color: black;
    text-decoration: underline;
}

.blue-button:hover {
    color: #E1EEF9;
    background-color: black;
    text-decoration: underline;
}

.btn-std {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.08em;
    margin-bottom: 0.4em;
    padding: 1.1em 1.9em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;
    border: 2px solid #1d1d1b;
    color: #1d1d1b;
    transition: all 0.3s ease 0s;
    margin-left: 4em;
}

}
.btn-std.green-fill:hover {
    background-color: #1d1d1b;
    color: #e1eedc;
}
.btn-std.white.black-fill {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.btn-std.white.black-fill:hover{
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}
.module-section {
    background-color: white;
    padding-top: 6em;
}
.module-section .item .module-image .item-title {
    display: block;
    font-size: 0.7em;
    font-weight: 500;
    left: 0;
    letter-spacing: 0.08em;
    position: absolute;
    text-transform: uppercase;
    top: 2.2em;
    width: 100%;
}
.module-section .item .module-image .item-title .inner{
    padding: 0.5em 0.8em;
    display: inline-block;
}

.module-section .building {
    background-color: #E1EEF9;
}

body.homepage .module-section .item.lifestyle .module-image .item-title .inner {
    background-color: #fbd8c6;
}

.collumbus-building-image2 {
    margin-top: 0 !important;
}

.lifestyle {
    background-color: #fbd8c6;
    /*margin-left: 1em;*/
    min-height: 45rem;
}

.location {
    background-color: #e1eedc;
    /*left: 2.3%;
    position: relative;*/
    min-height: 45rem;
}

.building {
   /* margin-right: 1em;*/
    min-height: 45rem;
}

.module-section .item {
    text-align: center;
}

/*
.module-section .row {
    width: 100% !important;
    max-width: none;
}*/

.module-image {
    margin-bottom: 2.2em;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.module-description {
    color: #1d1d1b;
    letter-spacing: 0;
    line-height: 1.4;
    margin: 0 1em 2em;
    min-height: 15em;
}

.module-cta {
    padding-bottom: 2.2em;
}

.module-description h1 {
    min-height: 3em;
    margin-bottom: 3em;
    font-size:
}

.module-description a {
    color: black;
}

.module-description p {
    margin-bottom: 2em;
}

#lockup-transition-4 .btn-std {
    position: relative;
    left: -8%;
}

.btn-std.pink-fill {
    background-color: transparent;
    border: 2px solid #1d1d1b;
    color: #1d1d1b;
    transition: all 0.3s ease 0s;
}

/*
#lockup-transition-4 .large-4 {
    width: 31%;
}
*/
.location .inner {
    background-color: #e1eedc;
}
.building .module-image .inner {
    background-color: #e1eef9;
}
/* second page */

figcaption {
    padding-top: 0.6em;
}

figure figcaption.left {
    text-align: left;
}

figure figcaption.right {
    text-align: right;
}

div.hero .overlay .title-holder {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


.building-logo {
    background-image: url("/img/building-head.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}

.is-1 .title-holder .inner svg {
    height: auto;
    max-width: 1122px;
    width: 80%;
}

.section-title {
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 2.8em;
    padding-top: 2.8em;
    text-align: center;
    text-transform: uppercase;
}

.caption-main {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.caption-snippet {
    color: #1d1d1b;
    letter-spacing: 0;
    line-height: 1.4;
    margin-bottom: 2.2em;
}

.image-section .image-section-overlay {
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #e1eedc;
}

.image-section {
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 880px;
    position: relative;
    width: 100%;
}

.is-1 {
    background-image: url("/img/building-wide-1.jpg");
}
.subsection-2 {
    background-color: #e1eef9;
    padding-top: 6em;
}

.subsection-2 .caption-main {
    text-align: center;
}


.reception-backtop {
    background-color: #e1eef9;
}
.butt-bac {
    margin-top: 4em;
}

.toggle .icon.active {
    background-color: #1d1d1b;
}

.toggle {
    margin: 10px auto 0;
    width: 45px;
}

.note {
    display: block;
    margin-bottom: 2em;
    text-align: center;
}
figure{
    margin:0;
}
.toggle .icon {
    border: 1px solid #1d1d1b;
    border-radius: 6px;
    display: inline-block;
    height: 12px;
    margin-right: 0.5em;
    width: 12px;
}

section.building .nogrid .nogrid-row {
    margin-bottom: 6rem;
    position: relative;
    width: 100%;
}

.pre-slider {
    margin-bottom: 3rem;
}


.nogrid .item-8 .image-overlay {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

.nogrid .nogrid-item img {
    height: auto;
    width: 100%;
}

.building-prefooter {
    border-top: 1px solid #1d1d1b;
}
.animate-movein {
    opacity: 0;
    position: relative;
    top: 100px;
}
.animate-fadein {
    opacity: 0;
}
.menu-small{
    display: none;
}
.menu-dropdown {
    display: none;
    left: 0;
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: 2;
}
.menu-dropdown nav {
    background-color: #fff;
}
.menu-dropdown nav .item {
    border-bottom: 1px solid #cccccc;
    display: block;
    text-align: left;
    width: 100%;
}
.menu-dropdown nav .item a {
    color: #1d1d1b;
    display: block;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 0.08em;
    padding: 1.4em;
    text-transform: uppercase;
    width: 100%;
}

.content-section .item.caption {
    z-index: 1;
}
section.building .item-8 .image-overlay {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
section.building .nogrid {
    height: auto;
    position: relative;
    width: 100%;
}
main section .section-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 2.8rem;
    padding-top: 2.8rem;
    text-align: center;
    text-transform: uppercase;
}
main section.building .nogrid .nogrid-row {
    margin-bottom: 6rem;
    position: relative;
    width: 100%;
}
body.building main section.building .nogrid .nogrid-item {
    position: absolute;
}

body.building main section.building .nogrid .item-1 {
    left: 0;
}
body.building main section.building .nogrid .item-2 {
    right: 0;
}
body.building main section.building .nogrid .item-3 {
    right: 0;
}
body.building main section.building .nogrid .item-4 {
    right: 0;
    bottom: 0;
}
body.building main section.building .nogrid .item-5 {
    position: relative;
    top: 0;
}
.collumbus-building-image {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.row2 .btn-std {
    margin-left: 0 !important;
}

.module-section .columns {
    min-height: 15em;
}

.module-section .item .module-description h1 {
    font-size: 22px;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
}

/* max-width 640px, mobile-only styles */
@media only screen and (max-width: 40em) {
    .module-description {
            min-height: 2em;
    }

    .module-description h1 {
        margin-bottom: 2em;
        min-height: 2em;
    }

    .module-cta {
        margin-bottom: 2em;
    }

    .content-section .caption-main {
        text-align: center;
    }

    .collumbus-building-image {
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .under-footer{
        text-align: center;
    }
    .underfooter-logo img {
        float: none;
    }

    .row2 .btn-std {
        margin-left: 2.5rem !important;
        margin-bottom: 2rem;
    }

    .butt-bac .btn-std {
        margin-left: 0;
    }

    .btn-section .btn-std {
        margin-left: 0;
    }

    .riverside {
        margin-top: 2em;
    }

    .animate-movein {
        opacity: 1 !important;
    }

    .animate-fadein {
        opacity: 1 !important;
    }

    .no-absolute {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

 }
/* all non mobile screens */
@media only screen and (min-width: 40em) {

}
/* medium and small screens */
@media only screen and (max-width: 64em) {
    body{
        font-size: 14px;
    }

    .menu-big{
        display: none;
    }
    .show-small{
        display: block;
    }
    .menu-toggle{
        float: right;
        cursor: pointer;
    }
    .close{
        display: none;
    }
    #top_bar{
        background-color: #1d1d1b;
        padding: 0;
    }
    #lockup-transition-4 .columns:nth-child(-n+2) {
        padding-right: ;
    }
    .pre-footer {
        text-align: center;

    }
    .logo-prefooter{
        border-right-width: 0;
    }
    .logo-prefooter div{
        border-bottom: 1px solid #1d1d1b;
        padding-bottom: 3em;
        padding-top: 3em;
    }
    .btn-section{
        border-left-width: 0;
        padding: 5em 0 3em;
    }

    .building .logo-prefooter {
        border-bottom: 1px solid #1d1d1b;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn-section .btn-std {
        margin-left: 0;
    }

    .under-footer .copyright {
        padding-top: 7em;
    }

    .lifestyle {
        background-color: #fbd8c6;
        /*margin-left: 1em;*/
        min-height: 15rem;
    }

    .location {
        background-color: #e1eedc;
        /*left: 2.3%;
        position: relative;*/
        min-height: 15rem;
    }

    .building {
       /* margin-right: 1em;*/
        min-height: 15rem;
    }

    .module-description h1 {
        margin-bottom: 1em;
    }

    .no-absolute {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    body.building main section.building .nogrid .nogrid-item {
        position: static;
    }

}

/* not medium and not mobile screens */
@media only screen and (min-width: 64.063em) {
    .menu-big{
        display: block;
    }
    .show-small{
        display: none;
    }
    .row{
         max-width: 1322px;
    }
    .pre-footer{
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .logo-prefooter {
        padding-bottom: 3em;
    }
    .under-footer .copyright {
        position: relative;
        top: 80%;
        transform: translateY(-50%);
    }
    .underfooter-logo .medium-2 {
        width: 13.6667%;
    }

}



